{% extends "base.html" %}
{% block content %}

<a href="/[{entityname}]/create" class="btn btn-primary" role="button">Create New [{entityname}]</a>

<hr>

<table class="table">
    <thead>
        <tr>
            {% for col in cols %}
                <td><b>{{col}}</b></td>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for [{entityname}] in [{entityname}]s %}
            <tr>
                [{tds|safe}]
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}