(ns [{ns}]
  (:refer-clojure :exclude [update])
  (:require [compojure.core :refer [routes GET POST DELETE]]
            [noir.response :as resp]
            [ring.util.response :refer [response content-type]]
            [taoensso.timbre :as timb]
            [[{ns-db}] :as db]
            [[{ns-layout}] :as layout]))

[{add-fns|safe}]

(defn index-page []
  (layout/render "[{ent-name}]/index.html" {:[{ent-name}]s (db/get-all-[{ent-name}]s) :cols [[% for col in cols %]"[{col.colname}]" [% endfor %]]}))

(defn create-page []
  (layout/render "[{ent-name}]/create.html" {:create_update "Create"}))

(defn update-page [id]
  (let [[{ent-name}] (db/get-[{ent-name}]-by-id id)]
    (layout/render "[{ent-name}]/create.html" {:[{ent-name}] [{ent-name}] :create_update "Update"})))

(defn delete-page [id]
  (layout/render "[{ent-name}]/delete.html" {:id id}))

(defn create [[% for col in cols %][{col.colname}] [% endfor %]]
  (try
    (db/create-[{ent-name}] [% for col in functionized-cols %][{col.colname-fn}] [% endfor %])
    (catch Exception e (timb/error e "Something went wrong creating [{ent-name}].")
                       (layout/flash-result (str "An error occured.") "alert-danger")))
  (resp/redirect "/[{ent-name}]"))

(defn update [id [% for col in cols %][{col.colname}] [% endfor %]]
  (try
    (db/update-[{ent-name}] id {[% for col in functionized-cols %]:[{col.colname}] [{col.colname-fn}] [% endfor %] })
    (catch Exception e (timb/error e (str "Something went wrong updating: " id))
                       (layout/flash-result (str "An error occured.") "alert-danger")))
  (resp/redirect "/[{ent-name}]"))

(defn delete [id delete_cancel]
  (when (= "Delete" delete_cancel)
    (try
     (db/delete-[{ent-name}] id)
     (catch Exception e (timb/error e (str "Something went wrong deleting: " id))
                        (layout/flash-result (str "An error occured.") "alert-danger"))))
  (resp/redirect "/[{ent-name}]"))

(defn [{ent-name}]-routes []
  (routes
    (GET "/[{ent-name}]" [] (index-page))
    (GET "/[{ent-name}]/create" [] (create-page))
    (GET "/[{ent-name}]/:id" [id] (update-page id))
    (POST "/[{ent-name}]/create" [[% for col in cols %][{col.colname}] [% endfor %]] (create [% for col in cols %][{col.colname}] [% endfor %]))
    (GET "/[{ent-name}]/delete/:id" [id] (delete-page id))
    (POST "/[{ent-name}]/delete" [id delete_cancel] (delete id delete_cancel))
    (POST "/[{ent-name}]/update" [id [% for col in cols %][{col.colname}] [% endfor %]] (update id [% for col in cols %][{col.colname}] [% endfor %]))))
